pageInfo:
  title: Dashy Home Lab
  navLinks:
    - title: GitHub
      path: https://github.com/Lissy93/dashy
    - title: Documentation
      path: https://wiki.node-data-media.de/de/tutorials/docker/dashy
appCon:xfig:
  theme: material-dark
  layout: horizontal
  iconSize: medium
  language: es
sections:
  - name: Widgets
    widgets:
      - type: clock
        collapsed: false
        options:
          timeZone: America/Caracas
          format: es-VE
          hideDate: false
  - name: Development
    icon: si-visualstudiocode
    items:
      - title: Wiki.js
        description: My Developer Wiki
        icon: si-wikidotjs
        url: https://wiki.node-data-media.de/
      - title: GitLab
        description: Version Sontrol System
        icon: si-gitlab
        url: https://gitlab.com/
      - title: Github
        description: Version Sontrol System
        icon: si-github
        url: https://github.com/
      - title: Stack Overflow
        description: The answer to your problems
        icon: si-stackoverflow
        url: https://stackoverflow.com/
  - name: Virtualisation
    icon: si-docker
    items:
      - title: Portainer
        description: Manage Docker
        icon: si-portainer
        url: http://localhost:9000
      - title: Docker Hub
        description: Docker Hub
        icon: si-docker
        url: https://hub.docker.com
      - title: Kubernetes
        description: Container Orchestrierung
        icon: si-kubernetes
        url: https://kubernetes.io
      - title: Amazon
        description: Amazon Cloud AWS
        icon: si-amazonaws
        url: https://aws.amazon.com/
  - name: Network
    icon: si-cloudflare
    items:
      - title: Pi-Hole
        description: DNS settings for ad & tracker blocking
        icon: si-pihole
      - title: Grafana
        description: Data visualised on dashboards
        icon: si-grafana
  - name: Media
    icon: si-airplayvideo
    items:
      - title: YouTube
        description: Tutorials for Development
        icon: si-youtube
        url: https://youtube.com
      - title: Twitch
        description: Streaming Platform
        icon: si-twitch
        url: https://twitch.tv
      - title: Udemy
        description: Learning Platform
        icon: si-udemy
        url: https://www.udemy.com/
      - title: Plex
        description: Self-Hosted Media Streaming Service
        icon: si-plex
        url: https://app.plex.tv/desktop
  - name: Utilities
    icon: far fa-hands-helping
    items:
      - title: Dashy
        description: Lissys Dashy
        icon: fas fa-rocket
        url: https://dashy.to
      - title: Public IP
        description: Check public IP and associated data
        url: https://www.whatismyip.com/
      - title: Who Is Lookup
        description: Check ICAN info for a given IP address or domain
        url: https://whois.domaintools.com/
      - title: Speed Test
        description: Upload + download speeds and latency
        url: https://speed.cloudflare.com/
